<!DOCTYPE html>
<html>
<head>
  <title>Flickerjr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "normalize", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "photos" %>
  <%= javascript_include_tag "signup" %>
  <%= csrf_meta_tags %>
</head>
<%= render "create_user_form" %>
<%= render "login_form" %>
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <%= link_to 'Flicker jr.', welcome_index_path, class: 'brand' %>
    <ul class="nav">

      <li class="active"><a href="/">Home</a></li>
      <% if current_user %>
        <li><a href="/logout">logout</a></li>
        <ul id='user_ul'>
          <li id='user'>Logged in as: <span><%= user %></span></li>
        </ul>
      <% else %>
      <!-- <li><a id='create_li' href='#'role="button" data-toggle='modal'>newthing</a></li> -->
      <li><%= link_to 'Create Account', '#createModal', :id => 'create_li' %>
      <li><%= link_to 'Login', '#loginModal', :id => 'login_li' %>
       <!--  <li><a id="login_li" href="#" role="button" data-toggle='modal'>Login</a></li> -->
       <!--  <li><a id="create_li" href="#">Create Account</a></li> -->
      <%end%>
    </ul>
  </div>
</div>
<body>

<%= yield %>

</body>
</html>
